# PostGIS on Greenplum Database

## Data

#### ne_10m_admin_0_countries
Simple layer of countries at the Admin 0 level. Column geom contains the geometry, and name the common name of the country. Also includes various other data fields such as population, abbreviations, GDP estimates, and names in various other languages. More information: https://www.naturalearthdata.com/downloads/10m-cultural-vectors/10m-admin-0-countries/

#### ne_10m_admin_1_states_provinces
Contains level 1 adminitrative subdivisions such as states and provinces. Column geom contains the geometry and name contains the name of the division. Various other fields are also available. More information: https://www.naturalearthdata.com/downloads/10m-cultural-vectors/10m-admin-1-states-provinces/

#### ne_10m_populated_places
Contains point locations of populated places. Column geom contains the geometry, and name contains the name of the place. Various other fields also included. More information: https://www.naturalearthdata.com/downloads/10m-cultural-vectors/10m-populated-places/

#### ne_10m_lakes
Contains global lakes and reservoirs, including the Europe and North America supplements. Column geom contains the geometry, featurecla is a feature class to differentiate between lakes and reservoirs, and name contains the name of the feature. More information: https://www.naturalearthdata.com/downloads/10m-physical-vectors/10m-lakes/

#### ne_10m_rivers
Contains global rivers and lakes centerlines, including the Europe and North America supplements. Column geom contains the geometry, and name contains the common name of the feature. More information: https://www.naturalearthdata.com/downloads/10m-physical-vectors/10m-rivers-lake-centerlines/

#### ne_10m_airports
Airport information derives from [Mile High Club](https://github.com/nvkelso/mile-high-club), a detailed GIS compilation of world wide airports that is in the public domain. Column geom contains the geometry, and name contains the common name of the feature. More information: https://www.naturalearthdata.com/downloads/10m-cultural-vectors/airports/

#### ne_10m_time_zones
Time zones primarily derive from the Central Intelligence Agency map of Time Zones, downloaded from the World Factbook website May 2012. Boundaries were adjusted to fit the Natural Earth line work at a scale of 1:10 million and to follow twelve nautical mile territorial sea boundary lines when running along coasts. More information: https://www.naturalearthdata.com/downloads/10m-cultural-vectors/timezones/

## Workflow

In [1]:
import os, re
from IPython.display import display_html, display_markdown

import numpy as np
import pandas as pd

CONNECTION_STRING = os.getenv('AWSGPDBCONN')

cs = re.match('^postgresql:\/\/(\S+):(\S+)@(\S+):(\S+)\/(\S+)$', CONNECTION_STRING)

DB_USER   = cs.group(1)
DB_PWD    = cs.group(2)
DB_SERVER = cs.group(3)
DB_PORT   = cs.group(4)
DB_NAME   = cs.group(5)
con = CONNECTION_STRING 

%reload_ext sql
%sql $CONNECTION_STRING

In [2]:
%%sql $DB_USER@$DB_SERVER
SELECT UNNEST(ARRAY[version, postgis_full_version]) version_info FROM (SELECT version()) A, (SELECT postgis_full_version()) B

2 rows affected.

[('PostgreSQL 9.4.24 (Greenplum Database 6.12.0 build commit:4c176763c7619fb678ce38095e6b3e8fb9548186) on x86_64-unknown-linux-gnu, compiled by gcc (GCC) 6.4.0, 64-bit compiled on Oct 28 2020 19:42:15',),
 ('POSTGIS="2.5.4" [EXTENSION] PGSQL="94" GEOS="3.4.2-CAPI-1.8.2 r3921" PROJ="Rel. 4.8.0, 6 March 2012" GDAL="GDAL 1.11.1, released 2014/09/24" LIBXML="2.9.1" LIBJSON="0.12" RASTER',)]

In [3]:
def display_gist_url(url):
    gist = re.match('^http:\/\/geojson.io\/#id=gist:\/(\S+)$', url)
    gist = 'https://gist.github.com/cantzakas/' + gist.group(1)
    return display_markdown(gist, raw=True)

#### How to download and load the data into the database

```sh
wget -P ~/tmp_files/ https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/10m/cultural/ne_10m_admin_0_countries.zip
wget -P ~/tmp_files/ https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/10m/cultural/ne_10m_admin_1_states_provinces.zip
wget -P ~/tmp_files/ https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/10m/cultural/ne_10m_populated_places_simple.zip
wget -P ~/tmp_files/ https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/10m/physical/ne_10m_lakes.zip
wget -P ~/tmp_files/ https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/10m/physical/ne_10m_rivers_lake_centerlines.zip
wget -P ~/tmp_files/ https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/10m/cultural/ne_10m_airports.zip
wget -P ~/tmp_files/ https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/10m/cultural/ne_10m_time_zones.zip

unzip ~/tmp_files/ne_10m_admin_0_countries.zip -d ~/tmp_files/
unzip ~/tmp_files/ne_10m_admin_1_states_provinces.zip -d ~/tmp_files/
unzip ~/tmp_files/ne_10m_populated_places_simple.zip -d ~/tmp_files/
unzip ~/tmp_files/ne_10m_lakes.zip -d ~/tmp_files/
unzip ~/tmp_files/ne_10m_rivers_lake_centerlines.zip -d ~/tmp_files/
unzip ~/tmp_files/ne_10m_airports.zip -d ~/tmp_files/
unzip ~/tmp_files/ne_10m_time_zones.zip -d ~/tmp_files/

/usr/local/greenplum-db/bin/shp2pgsql -d -D -s 900913 -i ~/tmp_files/ne_10m_admin_0_countries.shx ne_10m_admin_0_countries dev | psql -d dev
/usr/local/greenplum-db/bin/shp2pgsql -d -D -s 900913 -i ~/tmp_files/ne_10m_admin_1_states_provinces.shx ne_10m_admin_1_states_provinces dev | psql -d dev
/usr/local/greenplum-db/bin/shp2pgsql -d -D -s 900913 -i ~/tmp_files/ne_10m_populated_places_simple.shx ne_10m_populated_places_simple dev | psql -d dev
/usr/local/greenplum-db/bin/shp2pgsql -d -D -s 900913 -i ~/tmp_files/ne_10m_lakes.shx ne_10m_lakes dev | psql -d dev
/usr/local/greenplum-db/bin/shp2pgsql -d -D -s 900913 -i ~/tmp_files/ne_10m_rivers_lake_centerlines.shx ne_10m_rivers_lake_centerlines dev | psql -d dev
/usr/local/greenplum-db/bin/shp2pgsql -d -D -s 900913 -i ~/tmp_files/ne_10m_airports.shx ne_10m_airports dev | psql -d dev
/usr/local/greenplum-db/bin/shp2pgsql -d -D -s 900913 -i ~/tmp_files/ne_10m_time_zones.shx ne_10m_time_zones dev | psql -d dev
```

#### Notes on shp2pgsql utility

USAGE: **shp2pgsql** [OPTIONS] shapefile [schema.]table, where _[OPTIONS]_:

```-d``` Drops the table, then recreates it and populates it with current shape file data.

```-D``` Use postgresql dump format (defaults to sql insert statements).

```-s from_srid:to_srid``` If `-s :to_srid` is not specified, then `from_srid` is assumed and no transformation happens.

```-i``` Use `int4` type for all integer dbf fields.

## Examples

### [PostGIS.ST_WithIn(geometry A, geometry B)](https://postgis.net/docs/ST_Within.html): returns true if geometry A is completely inside geometry B

#### Find all airports in the United Kingdom

In [4]:
%%sql
SELECT airports.geom
    , airports.name_en
    , airports.abbrev
FROM public.ne_10m_airports airports
    , public.ne_10m_admin_0_countries countries 
WHERE 
    ST_WithIn(airports.geom, countries.geom)
    AND countries.name = 'United Kingdom'
LIMIT 5;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
5 rows affected.

[('010100002031BF0D0017467205AB8EFABF22E8C6133EEF4A40', 'Leeds Bradford International Airport', 'LBA'),
 ('010100002031BF0D00FF0F778A935DFBBF1A295C32BF844B40', 'Newcastle Airport', 'NCL'),
 ('010100002031BF0D0068FD0AD46FB70AC0605F760C06B34940', 'Cardiff Airport', 'CWL'),
 ('010100002031BF0D0056A24D4FEDDBC4BF6ED455D6EF934940', 'Gatwick Airport', 'LGW'),
 ('010100002031BF0D00B7E924C28400DDBFE98FCE9749BC4940', 'Heathrow Airport', 'LHR')]

In [5]:
import geojsonio
import geopandas as gpd

sql = """
SELECT airports.geom
    , airports.name_en
    , airports.abbrev
FROM public.ne_10m_airports airports
    , public.ne_10m_admin_0_countries countries 
WHERE 
    ST_WithIn(airports.geom, countries.geom)
    AND countries.name = 'United Kingdom'
"""

df = gpd.read_postgis(sql, con)
url=geojsonio.display(df.to_json())

display_markdown(url, raw=True)
display_gist_url(url)

http://geojson.io/#id=gist:/92940e9dd363a3e32a528793ced2ffc6

https://gist.github.com/cantzakas/92940e9dd363a3e32a528793ced2ffc6

### [PostGIS.ST_Intersects(geometry A, geometry B)](https://postgis.net/docs/ST_Intersects.html): returns true if two Geometries/Geography spatially intersect in 2D (have at least one point in common)

#### Find all rivers in the United States of America

In [6]:
%%sql
SELECT rivers.name
    , rivers.name_en
    , SUBSTRING(ST_AsGeoJSON(rivers.geom), 0, 200) || '...'
FROM 
    public.ne_10m_admin_0_countries AS countries, 
    public.ne_10m_rivers_lake_centerlines AS rivers
WHERE 
    countries.name = 'United States of America' 
    AND rivers.featurecla = 'River'
    AND rivers.name != '' 
    AND ST_Intersects(countries.geom, rivers.geom)
LIMIT 5;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
5 rows affected.

[('Stanislaus', 'Stanislaus', '{"type":"MultiLineString","coordinates":[[[-119.668039517312,38.3777123067649],[-119.677072720437,38.3838972025982],[-119.685454881895,38.3927676453065],[-119.688465949604,38.399481512494],[-119.6937...'),
 ('Iliamna Lake Outlet', 'Iliamna Lake Outlet', '{"type":"MultiLineString","coordinates":[[[-155.885487433979,59.344305731244],[-155.969349738666,59.3107363953065],[-155.99819902252,59.306708074994],[-156.093251105854,59.311590887494],[-156.1510310...'),
 ('Eel', 'Eel', '{"type":"MultiLineString","coordinates":[[[-124.069162564187,40.4793561869732],[-124.082427538145,40.4828555359315],[-124.096424933979,40.4944929057232],[-124.083729621479,40.5088972025982],[-124.081...'),
 ('Suwannee', 'Suwannee', '{"type":"MultiLineString","coordinates":[[[-82.7207738923121,31.163397528119],[-82.6678767568954,31.1203880880149],[-82.6436254548121,31.0983340515565],[-82.6310115225204,31.0905215515565],[-82.61754...'),
 ('Cedar', 'Cedar', '{"type":"MultiLineString","coordinates":[[[-93.2110082673121,43.5586205098899],[-93.1777237621037,43.5497500671815],[-93.1549373037704,43.5242780619732],[-93.1216527985621,43.4704857442649],[-93.0763...')]

In [7]:
sql = """
SELECT rivers.name
    , rivers.name_en
    , rivers.geom
FROM 
    public.ne_10m_admin_0_countries AS countries, 
    public.ne_10m_rivers_lake_centerlines AS rivers
WHERE 
    countries.name = 'United States of America' 
    AND rivers.featurecla = 'River'
    AND rivers.name != '' 
    AND ST_Intersects(
        countries.geom,
        rivers.geom
    )
"""
df = gpd.read_postgis(sql, con)
url=geojsonio.display(df.to_json())

display_markdown(url, raw=True)
display_gist_url(url)

http://geojson.io/#id=gist:/b128e4a05a5ad2d12a2726112946cdb1

https://gist.github.com/cantzakas/b128e4a05a5ad2d12a2726112946cdb1

### [PostGIS.ST_Union()](https://postgis.net/docs/ST_Union.html): merging geometries to produce a result geometry with no overlaps

#### Find top-10 by population capital cities in Europe, with a river running through it

In [8]:
%%sql
WITH ranked AS (
SELECT places.gid AS pgid
    , rivers.gid AS rgid
    , DENSE_RANK () OVER (ORDER BY places.pop_max DESC) AS rank
FROM
    public.ne_10m_populated_places_simple AS places,
    public.ne_10m_rivers_lake_centerlines AS rivers
WHERE 
    places.adm0cap = 1 
    AND rivers.name_en != '' 
    AND ST_Within(places.geom,
            (SELECT ST_Union(geom) FROM public.ne_10m_admin_0_countries WHERE continent='Europe')) 
    AND ST_Intersects(ST_Buffer(places.geom, 0.05), rivers.geom)
GROUP BY places.gid, rivers.gid, places.pop_max)

SELECT pl.name, ranked.rank, ST_AsGeoJSON(pl.geom)
FROM ranked, public.ne_10m_populated_places_simple AS pl
WHERE ranked.rank <= 10 AND pl.gid = ranked.pgid
UNION ALL
SELECT rr.name, ranked.rank, SUBSTRING(ST_AsGeoJSON(rr.geom), 0, 100) || '...'
FROM ranked, public.ne_10m_rivers_lake_centerlines AS rr
WHERE ranked.rank <= 10 AND rr.gid = ranked.rgid;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
26 rows affected.

[('Vistula', 5, '{"type":"MultiLineString","coordinates":[[[18.9369409514379,49.9319115255149],[18.9447534514379,49....'),
 ('Riga', 9, '{"type":"Point","coordinates":[24.0999653714032,56.950023823161]}'),
 ('Rome', 3, '{"type":"Point","coordinates":[12.481312562874,41.8979014850989]}'),
 ('Paris', 1, '{"type":"Point","coordinates":[2.33138946713035,48.8686387898146]}'),
 ('Tevere', 3, '{"type":"MultiLineString","coordinates":[[[12.0520125660212,43.7651634786399],[12.0378524097712,43....'),
 ('Belgrade', 8, '{"type":"Point","coordinates":[20.4660448220205,44.8205913044467]}'),
 ('Belgrade', 8, '{"type":"Point","coordinates":[20.4660448220205,44.8205913044467]}'),
 ('Zagreb', 10, '{"type":"Point","coordinates":[15.9999946682457,45.8000067332725]}'),
 ('Seine', 1, '{"type":"MultiLineString","coordinates":[[[4.71265709727126,47.5126406921815],[4.70411217539626,47....'),
 ('Soroksari Duna', 6, '{"type":"MultiLineString","coordinates":[[[19.0634057951879,47.4726830098899],[19.0739038420629,47....'),
 ('Daugava', 9, '{"type":"MultiLineString","coordinates":[[[32.0775659514379,56.9077416036399],[32.0830184253962,56....'),
 ('Thames', 2, '{"type":"MultiLineString","coordinates":[[[-2.05077063710374,51.8420677755149],[-2.02212480377042,5...'),
 ('London', 2, '{"type":"Point","coordinates":[-0.118667702475932,51.5019405883275]}'),
 ('Desna', 4, '{"type":"MultiLineString","coordinates":[[[33.9414168628962,54.3722598328065],[33.9795028003962,54....'),
 ('Dnipro', 4, '{"type":"MultiLineString","coordinates":[[[33.3906356128962,54.9171817078065],[33.3387964201879,54....'),
 ('Sava', 8, '{"type":"MultiLineString","coordinates":[[[15.2295028003962,46.0458438171815],[15.2469995451879,46....'),
 ('Sava', 10, '{"type":"MultiLineString","coordinates":[[[15.2295028003962,46.0458438171815],[15.2469995451879,46....'),
 ('Warsaw', 5, '{"type":"Point","coordinates":[20.9980536924653,52.2519464883956]}'),
 ('Prague', 7, '{"type":"Point","coordinates":[14.4640339170485,50.0852828734783]}'),
 ('Kiev', 4, '{"type":"Point","coordinates":[30.5146821104722,50.4353131876072]}'),
 ('Kiev', 4, '{"type":"Point","coordinates":[30.5146821104722,50.4353131876072]}'),
 ('Danube', 6, '{"type":"MultiLineString","coordinates":[[[17.2064722014379,48.061102606244],[17.2429305347712,48.0...'),
 ('Danube', 8, '{"type":"MultiLineString","coordinates":[[[17.2064722014379,48.061102606244],[17.2429305347712,48.0...'),
 ('Budapest', 6, '{"type":"Point","coordinates":[19.0813748187597,47.5019521849914]}'),
 ('Budapest', 6, '{"type":"Point","coordinates":[19.0813748187597,47.5019521849914]}'),
 ('Vltava', 7, '{"type":"MultiLineString","coordinates":[[[13.5785425139379,49.0132103536399],[13.6137801441462,49....')]

#### What is happening here:
- Use country's geometry to create a merged result, 'Continent' geometry for Europe: 
```sql
SELECT ST_Union(geom) FROM public.ne_10m_admin_0_countries WHERE continent='Europe'
``` 
- Returns true if 'Place' geometry is completely inside 'Continent' geometry:
```sql
ST_Within(places.geom,
    (SELECT ST_Union(geom) FROM public.ne_10m_admin_0_countries WHERE continent='Europe')) 
```
- Calculate a geometry covering all points within a given distance (0.05 units) from a 'Place' geometry:
```sql
ST_Buffer(places.geom, 0.05)
```
  See https://epsg.io/900913 for more information on EPSG:900913 - Google Maps Global (Spherical) Mercator
- Returns true if two Geometries/Geography spatially intersect in 2D (have at least one point in common):
```sql
AND ST_Intersects(ST_Buffer(places.geom, 0.05), rivers.geom)
```

In [9]:
sql = """
WITH ranked AS (
SELECT places.gid AS pgid
    , rivers.gid AS rgid
    , DENSE_RANK () OVER (ORDER BY places.pop_max DESC) AS rank
FROM
    public.ne_10m_populated_places_simple AS places,
    public.ne_10m_rivers_lake_centerlines AS rivers
WHERE 
    places.adm0cap = 1 
    AND rivers.name_en != '' 
    AND ST_Within(places.geom,
            (SELECT ST_Union(geom) FROM public.ne_10m_admin_0_countries WHERE continent='Europe')) 
    AND ST_Intersects(ST_Buffer(places.geom, 0.05), rivers.geom)
GROUP BY places.gid, rivers.gid, places.pop_max)

SELECT pl.name, ranked.rank, pl.geom
FROM ranked, public.ne_10m_populated_places_simple AS pl
WHERE ranked.rank <= 10 AND pl.gid = ranked.pgid
UNION ALL
SELECT rr.name, ranked.rank, rr.geom
FROM ranked, public.ne_10m_rivers_lake_centerlines AS rr
WHERE ranked.rank <= 10 AND rr.gid = ranked.rgid;
"""

df = gpd.read_postgis(sql, con)
url=geojsonio.display(df.to_json())

display_markdown(url, raw=True)
display_gist_url(url)

http://geojson.io/#id=gist:/0e460e08df3aa22e19d6c9bea164d2fd

https://gist.github.com/cantzakas/0e460e08df3aa22e19d6c9bea164d2fd

### [PostGIS.ST_Intersection()](https://postgis.net/docs/ST_Intersection.html): returns a geometry representing the shared portion of geometries A and B.

#### Rank Spain, France, Italy, Greece, Turkey, Cyprus and Morocco, by the length of their coastline

In [10]:
%%sql
SELECT name
	, continent
	, DENSE_RANK() OVER (ORDER BY coastline_length DESC) AS rank
	, coastline_length
	, SUBSTRING(ST_AsGeoJSON(geom), 0, 200) || '...' as geom
FROM (
	SELECT name
		, continent
		, ST_UNION(geom) AS geom
		, ST_LENGTH(ST_UNION(geom)) AS coastline_length
	FROM (
		SELECT cntr."name" 
			, cntr.continent 
			, (ST_DUMP(ST_INTERSECTION(cntr.geom, cst.geom))).geom geom
		FROM ne_10m_admin_0_countries cntr 
			, ne_10m_coastline cst
		WHERE
			ST_INTERSECTS(cst.geom, cntr.geom)
            AND name IN ('Spain', 'France', 'Italy', 'Greece', 'Turkey', 'Cyprus', 'Morocco')
			) clipped
	WHERE ST_DIMENSION(clipped.geom) = 1
	GROUP BY name, continent
	) foo
ORDER BY coastline_length DESC;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
7 rows affected.

[('Greece', 'Europe', 1, 97.7651003203332, '{"type":"MultiLineString","coordinates":[[[24.1352645190001,34.8150088560001],[24.108571811,34.8165550800001]],[[24.1352645190001,34.8217634140001],[24.1352645190001,34.8150088560001]],[[24.122325066...'),
 ('France', 'Europe', 2, 67.1164736288018, '{"type":"MultiLineString","coordinates":[[[55.6831160820001,-21.3707821589999],[55.659922722,-21.3695614559999]],[[55.6268009770001,-21.3693986959999],[55.6015731130001,-21.3703752579999]],[[55.60157...'),
 ('Italy', 'Europe', 3, 62.9627191763533, '{"type":"MultiLineString","coordinates":[[[12.6110945970001,35.489243882],[12.6030379570001,35.491400458]],[[12.6212671230001,35.4923363300001],[12.6110945970001,35.489243882]],[[12.598317905,35.4943...'),
 ('Turkey', 'Asia', 4, 62.4945056142846, '{"type":"MultiLineString","coordinates":[[[35.9113875660001,35.9178734400001],[35.911306186,35.9177513690001],[35.9113054195336,35.9177504336715]],[[35.9113875660001,35.9178734400001],[35.92269941500...'),
 ('Spain', 'Europe', 5, 52.0293945891915, '{"type":"MultiLineString","coordinates":[[[-17.9794815749999,27.642523505],[-17.9941300119999,27.6422386740001]],[[-17.9941300119999,27.6422386740001],[-18.0157771479999,27.6534691430001]],[[-17.9713...'),
 ('Morocco', 'Africa', 6, 26.1571721814535, '{"type":"MultiLineString","coordinates":[[[-17.0128067699999,21.4452171900001],[-17.013742642,21.4199893250001],[-17.0137433252967,21.4199710975983]],[[-17.0128067699999,21.4452171900001],[-16.971058...'),
 ('Cyprus', 'Asia', 7, 2.35111551731967, '{"type":"MultiLineString","coordinates":[[[32.749196811,34.6498477230001],[32.7073673840001,34.6454125020001]],[[33.0156346359914,34.6344245410001],[33.0156356130001,34.6344261740001],[33.02588951900...')]

#### What is happening here:
- Returns true if `ne_10m_coastline.geom`, and `ne_10m_admin_0_countries.geom` spatially intersect in 2D (have at least one point in common):
```sql
			ST_INTERSECTS(ne_10m_coastline.geom, ne_10m_admin_0_countries.geom)
```
- Find the geometry representing the shared portion of geometries `ne_10m_coastline.geom`, and `ne_10m_admin_0_countries.geom`, and get the set of `geometry_dump` rows for the components of this geometry:
```sql
			, (ST_DUMP(ST_INTERSECTION(ne_10m_coastline.geom, ne_10m_admin_0_countries.geom))).geom
```
- Returns a geometry representing the point-set union of the  geometry, aka `Country Coastline Borders`.
```sql
		, ST_UNION(geom)
```
- Calculate the length of `Country Coastline Border` for each country
```sql
		, ST_LENGTH(ST_UNION(geom)) AS coastline_length
```

In [11]:
sql = """
SELECT name
	, continent
	, DENSE_RANK() OVER (ORDER BY coastline_length DESC) AS rank
	, coastline_length
	, geom
FROM (
	SELECT name
		, continent
		, ST_UNION(geom) AS geom
		, ST_LENGTH(ST_UNION(geom)) AS coastline_length
	FROM (
		SELECT cntr."name" 
			, cntr.continent 
			, (ST_Dump(ST_Intersection(cntr.geom, cst.geom))).geom geom
		FROM ne_10m_admin_0_countries cntr 
			, ne_10m_coastline cst
		WHERE
			ST_INTERSECTS(cst.geom, cntr.geom)
            AND name IN ('Spain', 'France', 'Italy', 'Greece', 'Turkey', 'Cyprus', 'Morocco')
			) clipped
	WHERE ST_DIMENSION(clipped.geom) = 1
	GROUP BY name, continent
	) foo
ORDER BY coastline_length DESC;
"""

df = gpd.read_postgis(sql, con)
url=geojsonio.display(df.to_json())

display_markdown(url, raw=True)
display_gist_url(url)

http://geojson.io/#id=gist:/45ed669c782c14551e2c769cd39e8122

https://gist.github.com/cantzakas/45ed669c782c14551e2c769cd39e8122