In [1]:
import os, re
from IPython.display import display_html

import pygments.lexers
from pygments import highlight
from pygments.formatters import HtmlFormatter

CONNECTION_STRING = os.getenv('AWSGPDBCONN')

cs = re.match('^postgresql:\/\/(\S+):(\S+)@(\S+):(\S+)\/(\S+)$', CONNECTION_STRING)

DB_USER   = cs.group(1)
DB_PWD    = cs.group(2)
DB_SERVER = cs.group(3)
DB_PORT   = cs.group(4)
DB_NAME   = cs.group(5)

%reload_ext sql

In [2]:
%sql $CONNECTION_STRING
%sql $DB_USER@$DB_NAME {"SELECT version();"}

1 rows affected.

[('PostgreSQL 9.4.24 (Greenplum Database 6.12.0 build commit:4c176763c7619fb678ce38095e6b3e8fb9548186) on x86_64-unknown-linux-gnu, compiled by gcc (GCC) 6.4.0, 64-bit compiled on Oct 28 2020 19:42:15',)]

%%sql
SELECT * 
FROM information_schema.COLUMNS 
WHERE TABLE_NAME LIKE '%amzn_reviews_1_%'
    AND TABLE_SCHEMA = 'demo'
ORDER BY table_catalog, table_schema, table_name, ordinal_position;

%%sql
SELECT 
    schemaname AS schema
    , tablename AS table
    , attname AS column
    , aut.autreltuples AS row_count
    , aut.autreltuples * null_frac AS null_row_count
    , CASE WHEN n_distinct < 0 THEN ROUND(-1 * n_distinct * aut.autreltuples) ELSE n_distinct END AS distinct_row_count
FROM 
    pg_catalog.pg_stats
    , gp_toolkit.__gp_user_tables aut
WHERE 
    pg_stats.schemaname = aut.autnspname
    AND pg_stats.tablename = aut.autrelname
    AND schemaname = 'demo'
    AND tablename = 'amzn_reviews_1';

SELECT aut.autnspname AS namespace
    , aut.autrelname AS tablename
    , attrs.attname AS columnname
    , aut.autreltuples AS row_count
    , bar.stanullfrac AS rows_null
    , bar.stadistinct AS rows_distinct
FROM 
    gp_toolkit.__gp_user_tables aut
    , pg_catalog.pg_attribute attrs
    , pg_catalog.pg_statistic bar
WHERE
    aut.autoid = attrs.attrelid
    AND aut.autoid = bar.starelid
    AND autrelkind = 'r'
    AND attstattarget != 0
    AND autnspname = 'demo'
    AND autrelname = 'amzn_reviews_1'

%sql ANALYZE demo.amzn_reviews_1
#SELECT COUNT(*) FROM demo.amzn_reviews_1
# SELECT COUNT(review_id) FROM (SELECT review_id, COUNT(*) FROM demo.amzn_reviews_1 GROUP BY review_id HAVING COUNT(*)=1) A;

%%sql
SELECT COUNT(*) FROM demo.amzn_reviews_1;

demo.amzn_reviews_1   160789790
demo.amzn_reviews_1_1 160789790

%%sql
SELECT * FROM pg_attribute WHERE attname = 'review_id';

%%sql
SELECT pgc.oid,
    pg_catalog.pg_get_table_distributedby(pgc.OID),
    pgn.nspname,
    pgc.relname
FROM pg_catalog.pg_namespace pgn
    LEFT JOIN pg_catalog.pg_class pgc
        ON pgc.relnamespace = pgn.oid
WHERE pgc.relkind = 'r'
--    AND c.relname OPERATOR(pg_catalog.~) '^(amzn_reviews_2_1)$'
--    AND n.nspname OPERATOR(pg_catalog.~) '^(demo)$'
    AND NULLIF(pg_catalog.pg_get_table_distributedby(pgc.OID), '') IS NOT NULL
ORDER BY 2, 3;

%%sql
SELECT
    table_owner
    , table_name
--    , array_agg(COALESCE(distribution_keys,'DISTRIBUTED RANDOMLY')) distribution_keys
    , array_agg(distribution_keys) distribution_keys
FROM 
    (SELECT 
         pgn.nspname as table_owner
         , pgc.relname as table_name
         , pga.attname as distribution_keys
     FROM 
         (
            SELECT
                gdp.localoid
                , CASE WHEN ( ARRAY_UPPER(gdp.distkey, 1) > 0 ) THEN UNNEST(gdp.distkey) ELSE NULL END AS attnum
             FROM
                 gp_distribution_policy gdp
         ) AS distrokey
         INNER JOIN pg_class AS pgc
             ON distrokey.localoid = pgc.oid
         INNER JOIN pg_namespace pgn
             ON pgc.relnamespace = pgn.oid
         LEFT OUTER JOIN pg_attribute pga
             ON distrokey.attnum = pga.attnum
             AND distrokey.localoid = pga.attrelid
ORDER BY pgn.nspname, pgc.relname) AS a
GROUP BY table_owner, table_name

### Get table distribution policy

In [65]:
%%sql
SELECT 
    pgn.nspname as table_owner
    , pgc.relname as table_name
    , CASE WHEN ARRAY_UPPER(ARRAY_AGG(pga.attname), 1) > 1
        THEN 'DISTRIBUTED BY (' || ARRAY_TO_STRING(ARRAY_AGG(pga.attname), ',') || ')' 
        ELSE 'DISTRIBUTED RANDOMLY' END AS distribution_keys
FROM
    (
        SELECT
            gdp.localoid
            , CASE WHEN ( ARRAY_UPPER(gdp.distkey, 1) > 0 ) THEN UNNEST(gdp.distkey) ELSE NULL END AS attnum
        FROM 
            gp_distribution_policy gdp
    ) AS distrokey
    INNER JOIN pg_class AS pgc
        ON distrokey.localoid = pgc.oid
    INNER JOIN pg_namespace pgn
        ON pgc.relnamespace = pgn.oid
    LEFT OUTER JOIN pg_attribute pga
        ON distrokey.attnum = pga.attnum
        AND distrokey.localoid = pga.attrelid
GROUP BY 
    pgn.nspname, pgc.relname;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
23 rows affected.

[('demo', 'amzn_reviews', 'DISTRIBUTED RANDOMLY'),
 ('demo', 'amzn_reviews_1', 'DISTRIBUTED RANDOMLY'),
 ('demo', 'amzn_reviews_1_1', 'DISTRIBUTED RANDOMLY'),
 ('demo', 'amzn_reviews_1_2', 'DISTRIBUTED RANDOMLY'),
 ('demo', 'amzn_reviews_2', 'DISTRIBUTED RANDOMLY'),
 ('demo', 'amzn_reviews_2_1', 'DISTRIBUTED RANDOMLY'),
 ('demo', 'amzn_reviews_3', 'DISTRIBUTED BY (customer_id,review_id)'),
 ('demo', 'amzn_reviews_3_1', 'DISTRIBUTED BY (customer_id,review_id)'),
 ('demo', 'amzn_reviews_summary', 'DISTRIBUTED RANDOMLY'),
 ('madlib', 'migrationhistory', 'DISTRIBUTED RANDOMLY'),
 ('public', 'test100', 'DISTRIBUTED RANDOMLY'),
 ('public', 'test1000', 'DISTRIBUTED RANDOMLY'),
 ('public', 'test1000_summary', 'DISTRIBUTED RANDOMLY'),
 ('public', 'test100_summary', 'DISTRIBUTED RANDOMLY'),
 ('public', 'test100k', 'DISTRIBUTED RANDOMLY'),
 ('public', 'test100k_summary', 'DISTRIBUTED RANDOMLY'),
 ('public', 'test100m', 'DISTRIBUTED RANDOMLY'),
 ('public', 'test10k', 'DISTRIBUTED RANDOMLY'),
 ('public', 'test10k_summary', 'DISTRIBUTED RANDOMLY'),
 ('public', 'test10m', 'DISTRIBUTED RANDOMLY'),
 ('public', 'test10m_summary', 'DISTRIBUTED RANDOMLY'),
 ('public', 'test1m', 'DISTRIBUTED RANDOMLY'),
 ('public', 'test1m_summary', 'DISTRIBUTED RANDOMLY')]

### Get table partition levels

%%sql
CREATE TABLE sales1 (id int, year int, qtr int, c_rank int, code char(1), region text)
DISTRIBUTED BY (id)
PARTITION BY LIST (code)
( PARTITION sales VALUES ('S'),
  PARTITION returns VALUES ('R')
);

CREATE TABLE sales2 (id int, year int, qtr int, c_rank int, code char(1), region text)
DISTRIBUTED BY (id)
PARTITION BY LIST (code)
  SUBPARTITION BY RANGE (c_rank)
    SUBPARTITION by LIST (region)

( PARTITION sales VALUES ('S')
   ( SUBPARTITION cr1 START (1) END (2)
      ( SUBPARTITION ca VALUES ('CA') ), 
      SUBPARTITION cr2 START (3) END (4)
        ( SUBPARTITION ca VALUES ('CA') ) ),

 PARTITION returns VALUES ('R')
   ( SUBPARTITION cr1 START (1) END (2)
      ( SUBPARTITION ca VALUES ('CA') ), 
     SUBPARTITION cr2 START (3) END (4)
        ( SUBPARTITION ca VALUES ('CA') ) )
);

CREATE TABLE sales3 (id int, year int, qtr int, c_rank int, code char(1), region text)
DISTRIBUTED BY (id)
PARTITION BY LIST (code)

   SUBPARTITION BY RANGE (c_rank)
     SUBPARTITION TEMPLATE (
     SUBPARTITION cr1 START (1) END (2),
     SUBPARTITION cr2 START (3) END (4) )

     SUBPARTITION BY LIST (region)
       SUBPARTITION TEMPLATE (
       SUBPARTITION ca VALUES ('CA') )

( PARTITION sales VALUES ('S'),
  PARTITION  returns VALUES ('R')
) ;

CREATE TABLE sales4 (id int, year int, qtr int, c_rank int, code char(1), region text)
DISTRIBUTED BY (id)
PARTITION BY RANGE (year)

  SUBPARTITION BY RANGE (qtr)
    SUBPARTITION TEMPLATE (
    START (1) END (5) EVERY (1), 
    DEFAULT SUBPARTITION bad_qtr )

    SUBPARTITION BY LIST (region)
      SUBPARTITION TEMPLATE (
      SUBPARTITION usa VALUES ('usa'),
      SUBPARTITION europe VALUES ('europe'),
      SUBPARTITION asia VALUES ('asia'),
      DEFAULT SUBPARTITION other_regions)

( START (2009) END (2011) EVERY (1),
  DEFAULT PARTITION outlying_years);

%%sql
SELECT tbl.*
    , prt.*
FROM 
    pg_stat_user_tables tbl
    , pg_partitions prt
WHERE 
    tbl.schemaname = prt.schemaname
    AND tbl.relname = prt.tablename
ORDER BY 1, 2, 3
--LIMIT 25;

In [83]:
%%sql
SELECT
    prt.schemaname || '.' || prt.tablename AS tablename
    , prt.partitionlevel + 1 AS partitionlevel
--    , COALESCE(prt.partitionrank, 1) AS partitionrank
    , prt.partitionschemaname || '.' || prt.partitiontablename AS partitiontablename
    , prt.partitionname
    , UPPER(prt.partitiontype) AS partitiontype
    , prt.partitionboundary
    , prt.partitionisdefault
FROM pg_stat_user_tables tbl, 
    pg_partitions prt
WHERE 
    tbl.schemaname = prt.schemaname
    AND tbl.relname = prt.tablename
GROUP BY
    prt.schemaname, prt.tablename, prt.partitionlevel, prt.partitionrank, prt.partitionschemaname, prt.partitiontablename
    , prt.partitionname, prt.partitiontype, prt.partitionboundary, prt.partitionisdefault
ORDER BY 
    prt.schemaname, prt.tablename, prt.partitionlevel, prt.partitionrank
--LIMIT 10

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
121 rows affected.

[('demo.amzn_reviews_partitioned', 1, 'demo.amzn_reviews_partitioned_1_prt_year1995', 'year1995', 'RANGE', "PARTITION year1995 START ('1995-01-01'::date) END ('1996-01-01'::date) EVERY ('1 year'::interval)", False),
 ('demo.amzn_reviews_partitioned', 1, 'demo.amzn_reviews_partitioned_1_prt_year1996', 'year1996', 'RANGE', "PARTITION year1996 START ('1996-01-01'::date) END ('1997-01-01'::date) EVERY ('1 year'::interval)", False),
 ('demo.amzn_reviews_partitioned', 1, 'demo.amzn_reviews_partitioned_1_prt_year1997', 'year1997', 'RANGE', "PARTITION year1997 START ('1997-01-01'::date) END ('1998-01-01'::date) EVERY ('1 year'::interval)", False),
 ('demo.amzn_reviews_partitioned', 1, 'demo.amzn_reviews_partitioned_1_prt_year1998', 'year1998', 'RANGE', "PARTITION year1998 START ('1998-01-01'::date) END ('1999-01-01'::date) EVERY ('1 year'::interval)", False),
 ('demo.amzn_reviews_partitioned', 1, 'demo.amzn_reviews_partitioned_1_prt_year1999', 'year1999', 'RANGE', "PARTITION year1999 START ('1999-01-01'::date) END ('2000-01-01'::date) EVERY ('1 year'::interval)", False),
 ('demo.amzn_reviews_partitioned', 1, 'demo.amzn_reviews_partitioned_1_prt_year2000', 'year2000', 'RANGE', "PARTITION year2000 START ('2000-01-01'::date) END ('2001-01-01'::date) EVERY ('1 year'::interval)", False),
 ('demo.amzn_reviews_partitioned', 1, 'demo.amzn_reviews_partitioned_1_prt_year2001', 'year2001', 'RANGE', "PARTITION year2001 START ('2001-01-01'::date) END ('2002-01-01'::date) EVERY ('1 year'::interval)", False),
 ('demo.amzn_reviews_partitioned', 1, 'demo.amzn_reviews_partitioned_1_prt_year2002', 'year2002', 'RANGE', "PARTITION year2002 START ('2002-01-01'::date) END ('2003-01-01'::date) EVERY ('1 year'::interval)", False),
 ('demo.amzn_reviews_partitioned', 1, 'demo.amzn_reviews_partitioned_1_prt_year2003', 'year2003', 'RANGE', "PARTITION year2003 START ('2003-01-01'::date) END ('2004-01-01'::date) EVERY ('1 year'::interval)", False),
 ('demo.amzn_reviews_partitioned', 1, 'demo.amzn_reviews_partitioned_1_prt_year2004', 'year2004', 'RANGE', "PARTITION year2004 START ('2004-01-01'::date) END ('2005-01-01'::date) EVERY ('1 year'::interval)", False),
 ('demo.amzn_reviews_partitioned', 1, 'demo.amzn_reviews_partitioned_1_prt_year2005', 'year2005', 'RANGE', "PARTITION year2005 START ('2005-01-01'::date) END ('2006-01-01'::date) EVERY ('1 year'::interval)", False),
 ('demo.amzn_reviews_partitioned', 1, 'demo.amzn_reviews_partitioned_1_prt_year2006', 'year2006', 'RANGE', "PARTITION year2006 START ('2006-01-01'::date) END ('2007-01-01'::date) EVERY ('1 year'::interval)", False),
 ('demo.amzn_reviews_partitioned', 1, 'demo.amzn_reviews_partitioned_1_prt_year2007', 'year2007', 'RANGE', "PARTITION year2007 START ('2007-01-01'::date) END ('2008-01-01'::date) EVERY ('1 year'::interval)", False),
 ('demo.amzn_reviews_partitioned', 1, 'demo.amzn_reviews_partitioned_1_prt_year2008', 'year2008', 'RANGE', "PARTITION year2008 START ('2008-01-01'::date) END ('2009-01-01'::date) EVERY ('1 year'::interval)", False),
 ('demo.amzn_reviews_partitioned', 1, 'demo.amzn_reviews_partitioned_1_prt_year2009', 'year2009', 'RANGE', "PARTITION year2009 START ('2009-01-01'::date) END ('2010-01-01'::date) EVERY ('1 year'::interval)", False),
 ('demo.amzn_reviews_partitioned', 1, 'demo.amzn_reviews_partitioned_1_prt_year2010', 'year2010', 'RANGE', "PARTITION year2010 START ('2010-01-01'::date) END ('2011-01-01'::date) EVERY ('1 year'::interval)", False),
 ('demo.amzn_reviews_partitioned', 1, 'demo.amzn_reviews_partitioned_1_prt_year2011', 'year2011', 'RANGE', "PARTITION year2011 START ('2011-01-01'::date) END ('2012-01-01'::date) EVERY ('1 year'::interval)", False),
 ('demo.amzn_reviews_partitioned', 1, 'demo.amzn_reviews_partitioned_1_prt_year2012', 'year2012', 'RANGE', "PARTITION year2012 START ('2012-01-01'::date) END ('2013-01-01'::date) EVERY ('1 year'::interval)", False),
 ('demo.amzn_reviews_partitioned', 1, 'demo.amzn_reviews_partitioned_1_prt_year2013', 'year2013', 'RANGE', "PARTITION year2013 START ('2013-01-01'::date) END ('2014-01-01'::date) EVERY ('1 year'::interval)", False),
 ('demo.amzn_reviews_partitioned', 1, 'demo.amzn_reviews_partitioned_1_prt_year2014', 'year2014', 'RANGE', "PARTITION year2014 START ('2014-01-01'::date) END ('2015-01-01'::date) EVERY ('1 year'::interval)", False),
 ('demo.amzn_reviews_partitioned', 1, 'demo.amzn_reviews_partitioned_1_prt_year2015', 'year2015', 'RANGE', "PARTITION year2015 START ('2015-01-01'::date) END ('2015-12-31'::date) INCLUSIVE EVERY ('1 year'::interval)", False),
 ('public.sales1', 1, 'public.sales1_1_prt_returns', 'returns', 'LIST', "PARTITION returns VALUES('R')", False),
 ('public.sales1', 1, 'public.sales1_1_prt_sales', 'sales', 'LIST', "PARTITION sales VALUES('S')", False),
 ('public.sales2', 1, 'public.sales2_1_prt_returns', 'returns', 'LIST', "PARTITION returns VALUES('R')", False),
 ('public.sales2', 1, 'public.sales2_1_prt_sales', 'sales', 'LIST', "PARTITION sales VALUES('S')", False),
 ('public.sales2', 2, 'public.sales2_1_prt_returns_2_prt_cr1', 'cr1', 'RANGE', 'SUBPARTITION cr1 START (1) END (2)', False),
 ('public.sales2', 2, 'public.sales2_1_prt_sales_2_prt_cr1', 'cr1', 'RANGE', 'SUBPARTITION cr1 START (1) END (2)', False),
 ('public.sales2', 2, 'public.sales2_1_prt_returns_2_prt_cr2', 'cr2', 'RANGE', 'SUBPARTITION cr2 START (3) END (4)', False),
 ('public.sales2', 2, 'public.sales2_1_prt_sales_2_prt_cr2', 'cr2', 'RANGE', 'SUBPARTITION cr2 START (3) END (4)', False),
 ('public.sales2', 3, 'public.sales2_1_prt_returns_2_prt_cr1_3_prt_ca', 'ca', 'LIST', "SUBPARTITION ca VALUES('CA')", False),
 ('public.sales2', 3, 'public.sales2_1_prt_returns_2_prt_cr2_3_prt_ca', 'ca', 'LIST', "SUBPARTITION ca VALUES('CA')", False),
 ('public.sales2', 3, 'public.sales2_1_prt_sales_2_prt_cr1_3_prt_ca', 'ca', 'LIST', "SUBPARTITION ca VALUES('CA')", False),
 ('public.sales2', 3, 'public.sales2_1_prt_sales_2_prt_cr2_3_prt_ca', 'ca', 'LIST', "SUBPARTITION ca VALUES('CA')", False),
 ('public.sales3', 1, 'public.sales3_1_prt_returns', 'returns', 'LIST', "PARTITION returns VALUES('R')", False),
 ('public.sales3', 1, 'public.sales3_1_prt_sales', 'sales', 'LIST', "PARTITION sales VALUES('S')", False),
 ('public.sales3', 2, 'public.sales3_1_prt_returns_2_prt_cr1', 'cr1', 'RANGE', 'SUBPARTITION cr1 START (1) END (2)', False),
 ('public.sales3', 2, 'public.sales3_1_prt_sales_2_prt_cr1', 'cr1', 'RANGE', 'SUBPARTITION cr1 START (1) END (2)', False),
 ('public.sales3', 2, 'public.sales3_1_prt_returns_2_prt_cr2', 'cr2', 'RANGE', 'SUBPARTITION cr2 START (3) END (4)', False),
 ('public.sales3', 2, 'public.sales3_1_prt_sales_2_prt_cr2', 'cr2', 'RANGE', 'SUBPARTITION cr2 START (3) END (4)', False),
 ('public.sales3', 3, 'public.sales3_1_prt_returns_2_prt_cr1_3_prt_ca', 'ca', 'LIST', "SUBPARTITION ca VALUES('CA')", False),
 ('public.sales3', 3, 'public.sales3_1_prt_returns_2_prt_cr2_3_prt_ca', 'ca', 'LIST', "SUBPARTITION ca VALUES('CA')", False),
 ('public.sales3', 3, 'public.sales3_1_prt_sales_2_prt_cr1_3_prt_ca', 'ca', 'LIST', "SUBPARTITION ca VALUES('CA')", False),
 ('public.sales3', 3, 'public.sales3_1_prt_sales_2_prt_cr2_3_prt_ca', 'ca', 'LIST', "SUBPARTITION ca VALUES('CA')", False),
 ('public.sales4', 1, 'public.sales4_1_prt_2', '', 'RANGE', 'START (2009) END (2010) EVERY (1)', False),
 ('public.sales4', 1, 'public.sales4_1_prt_3', '', 'RANGE', 'START (2010) END (2011) EVERY (1)', False),
 ('public.sales4', 1, 'public.sales4_1_prt_outlying_years', 'outlying_years', 'RANGE', 'DEFAULT PARTITION outlying_years ', True),
 ('public.sales4', 2, 'public.sales4_1_prt_2_2_prt_2', '', 'RANGE', 'START (1) END (2) EVERY (1)', False),
 ('public.sales4', 2, 'public.sales4_1_prt_3_2_prt_2', '', 'RANGE', 'START (1) END (2) EVERY (1)', False),
 ('public.sales4', 2, 'public.sales4_1_prt_outlying_years_2_prt_2', '', 'RANGE', 'START (1) END (2) EVERY (1)', False),
 ('public.sales4', 2, 'public.sales4_1_prt_2_2_prt_3', '', 'RANGE', 'START (2) END (3) EVERY (1)', False),
 ('public.sales4', 2, 'public.sales4_1_prt_3_2_prt_3', '', 'RANGE', 'START (2) END (3) EVERY (1)', False),
 ('public.sales4', 2, 'public.sales4_1_prt_outlying_years_2_prt_3', '', 'RANGE', 'START (2) END (3) EVERY (1)', False),
 ('public.sales4', 2, 'public.sales4_1_prt_2_2_prt_4', '', 'RANGE', 'START (3) END (4) EVERY (1)', False),
 ('public.sales4', 2, 'public.sales4_1_prt_3_2_prt_4', '', 'RANGE', 'START (3) END (4) EVERY (1)', False),
 ('public.sales4', 2, 'public.sales4_1_prt_outlying_years_2_prt_4', '', 'RANGE', 'START (3) END (4) EVERY (1)', False),
 ('public.sales4', 2, 'public.sales4_1_prt_2_2_prt_5', '', 'RANGE', 'START (4) END (5) EVERY (1)', False),
 ('public.sales4', 2, 'public.sales4_1_prt_3_2_prt_5', '', 'RANGE', 'START (4) END (5) EVERY (1)', False),
 ('public.sales4', 2, 'public.sales4_1_prt_outlying_years_2_prt_5', '', 'RANGE', 'START (4) END (5) EVERY (1)', False),
 ('public.sales4', 2, 'public.sales4_1_prt_2_2_prt_bad_qtr', 'bad_qtr', 'RANGE', 'DEFAULT SUBPARTITION bad_qtr ', True),
 ('public.sales4', 2, 'public.sales4_1_prt_3_2_prt_bad_qtr', 'bad_qtr', 'RANGE', 'DEFAULT SUBPARTITION bad_qtr ', True),
 ('public.sales4', 2, 'public.sales4_1_prt_outlying_years_2_prt_bad_qtr', 'bad_qtr', 'RANGE', 'DEFAULT SUBPARTITION bad_qtr ', True),
 ('public.sales4', 3, 'public.sales4_1_prt_2_2_prt_2_3_prt_asia', 'asia', 'LIST', "SUBPARTITION asia VALUES('asia')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_2_2_prt_2_3_prt_europe', 'europe', 'LIST', "SUBPARTITION europe VALUES('europe')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_2_2_prt_2_3_prt_other_regions', 'other_regions', 'LIST', 'DEFAULT SUBPARTITION other_regions ', True),
 ('public.sales4', 3, 'public.sales4_1_prt_2_2_prt_2_3_prt_usa', 'usa', 'LIST', "SUBPARTITION usa VALUES('usa')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_2_2_prt_3_3_prt_asia', 'asia', 'LIST', "SUBPARTITION asia VALUES('asia')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_2_2_prt_3_3_prt_europe', 'europe', 'LIST', "SUBPARTITION europe VALUES('europe')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_2_2_prt_3_3_prt_other_regions', 'other_regions', 'LIST', 'DEFAULT SUBPARTITION other_regions ', True),
 ('public.sales4', 3, 'public.sales4_1_prt_2_2_prt_3_3_prt_usa', 'usa', 'LIST', "SUBPARTITION usa VALUES('usa')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_2_2_prt_4_3_prt_asia', 'asia', 'LIST', "SUBPARTITION asia VALUES('asia')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_2_2_prt_4_3_prt_europe', 'europe', 'LIST', "SUBPARTITION europe VALUES('europe')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_2_2_prt_4_3_prt_other_regions', 'other_regions', 'LIST', 'DEFAULT SUBPARTITION other_regions ', True),
 ('public.sales4', 3, 'public.sales4_1_prt_2_2_prt_4_3_prt_usa', 'usa', 'LIST', "SUBPARTITION usa VALUES('usa')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_2_2_prt_5_3_prt_asia', 'asia', 'LIST', "SUBPARTITION asia VALUES('asia')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_2_2_prt_5_3_prt_europe', 'europe', 'LIST', "SUBPARTITION europe VALUES('europe')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_2_2_prt_5_3_prt_other_regions', 'other_regions', 'LIST', 'DEFAULT SUBPARTITION other_regions ', True),
 ('public.sales4', 3, 'public.sales4_1_prt_2_2_prt_5_3_prt_usa', 'usa', 'LIST', "SUBPARTITION usa VALUES('usa')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_2_2_prt_bad_qtr_3_prt_asia', 'asia', 'LIST', "SUBPARTITION asia VALUES('asia')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_2_2_prt_bad_qtr_3_prt_europe', 'europe', 'LIST', "SUBPARTITION europe VALUES('europe')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_2_2_prt_bad_qtr_3_prt_other_regions', 'other_regions', 'LIST', 'DEFAULT SUBPARTITION other_regions ', True),
 ('public.sales4', 3, 'public.sales4_1_prt_2_2_prt_bad_qtr_3_prt_usa', 'usa', 'LIST', "SUBPARTITION usa VALUES('usa')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_3_2_prt_2_3_prt_asia', 'asia', 'LIST', "SUBPARTITION asia VALUES('asia')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_3_2_prt_2_3_prt_europe', 'europe', 'LIST', "SUBPARTITION europe VALUES('europe')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_3_2_prt_2_3_prt_other_regions', 'other_regions', 'LIST', 'DEFAULT SUBPARTITION other_regions ', True),
 ('public.sales4', 3, 'public.sales4_1_prt_3_2_prt_2_3_prt_usa', 'usa', 'LIST', "SUBPARTITION usa VALUES('usa')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_3_2_prt_3_3_prt_asia', 'asia', 'LIST', "SUBPARTITION asia VALUES('asia')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_3_2_prt_3_3_prt_europe', 'europe', 'LIST', "SUBPARTITION europe VALUES('europe')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_3_2_prt_3_3_prt_other_regions', 'other_regions', 'LIST', 'DEFAULT SUBPARTITION other_regions ', True),
 ('public.sales4', 3, 'public.sales4_1_prt_3_2_prt_3_3_prt_usa', 'usa', 'LIST', "SUBPARTITION usa VALUES('usa')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_3_2_prt_4_3_prt_asia', 'asia', 'LIST', "SUBPARTITION asia VALUES('asia')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_3_2_prt_4_3_prt_europe', 'europe', 'LIST', "SUBPARTITION europe VALUES('europe')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_3_2_prt_4_3_prt_other_regions', 'other_regions', 'LIST', 'DEFAULT SUBPARTITION other_regions ', True),
 ('public.sales4', 3, 'public.sales4_1_prt_3_2_prt_4_3_prt_usa', 'usa', 'LIST', "SUBPARTITION usa VALUES('usa')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_3_2_prt_5_3_prt_asia', 'asia', 'LIST', "SUBPARTITION asia VALUES('asia')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_3_2_prt_5_3_prt_europe', 'europe', 'LIST', "SUBPARTITION europe VALUES('europe')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_3_2_prt_5_3_prt_other_regions', 'other_regions', 'LIST', 'DEFAULT SUBPARTITION other_regions ', True),
 ('public.sales4', 3, 'public.sales4_1_prt_3_2_prt_5_3_prt_usa', 'usa', 'LIST', "SUBPARTITION usa VALUES('usa')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_3_2_prt_bad_qtr_3_prt_asia', 'asia', 'LIST', "SUBPARTITION asia VALUES('asia')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_3_2_prt_bad_qtr_3_prt_europe', 'europe', 'LIST', "SUBPARTITION europe VALUES('europe')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_3_2_prt_bad_qtr_3_prt_other_regions', 'other_regions', 'LIST', 'DEFAULT SUBPARTITION other_regions ', True),
 ('public.sales4', 3, 'public.sales4_1_prt_3_2_prt_bad_qtr_3_prt_usa', 'usa', 'LIST', "SUBPARTITION usa VALUES('usa')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_outlying_years_2_prt_2_3_prt_asia', 'asia', 'LIST', "SUBPARTITION asia VALUES('asia')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_outlying_years_2_prt_2_3_prt_europe', 'europe', 'LIST', "SUBPARTITION europe VALUES('europe')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_outlying_years_2_prt_2_3_prt_other_regions', 'other_regions', 'LIST', 'DEFAULT SUBPARTITION other_regions ', True),
 ('public.sales4', 3, 'public.sales4_1_prt_outlying_years_2_prt_2_3_prt_usa', 'usa', 'LIST', "SUBPARTITION usa VALUES('usa')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_outlying_years_2_prt_3_3_prt_asia', 'asia', 'LIST', "SUBPARTITION asia VALUES('asia')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_outlying_years_2_prt_3_3_prt_europe', 'europe', 'LIST', "SUBPARTITION europe VALUES('europe')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_outlying_years_2_prt_3_3_prt_other_regions', 'other_regions', 'LIST', 'DEFAULT SUBPARTITION other_regions ', True),
 ('public.sales4', 3, 'public.sales4_1_prt_outlying_years_2_prt_3_3_prt_usa', 'usa', 'LIST', "SUBPARTITION usa VALUES('usa')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_outlying_years_2_prt_4_3_prt_asia', 'asia', 'LIST', "SUBPARTITION asia VALUES('asia')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_outlying_years_2_prt_4_3_prt_europe', 'europe', 'LIST', "SUBPARTITION europe VALUES('europe')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_outlying_years_2_prt_4_3_prt_other_regions', 'other_regions', 'LIST', 'DEFAULT SUBPARTITION other_regions ', True),
 ('public.sales4', 3, 'public.sales4_1_prt_outlying_years_2_prt_4_3_prt_usa', 'usa', 'LIST', "SUBPARTITION usa VALUES('usa')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_outlying_years_2_prt_5_3_prt_asia', 'asia', 'LIST', "SUBPARTITION asia VALUES('asia')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_outlying_years_2_prt_5_3_prt_europe', 'europe', 'LIST', "SUBPARTITION europe VALUES('europe')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_outlying_years_2_prt_5_3_prt_other_regions', 'other_regions', 'LIST', 'DEFAULT SUBPARTITION other_regions ', True),
 ('public.sales4', 3, 'public.sales4_1_prt_outlying_years_2_prt_5_3_prt_usa', 'usa', 'LIST', "SUBPARTITION usa VALUES('usa')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_outlying_years_2_prt_bad_qtr_3_prt_asia', 'asia', 'LIST', "SUBPARTITION asia VALUES('asia')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_outlying_years_2_prt_bad_qtr_3_prt_europe', 'europe', 'LIST', "SUBPARTITION europe VALUES('europe')", False),
 ('public.sales4', 3, 'public.sales4_1_prt_outlying_years_2_prt_bad_qtr_3_prt_other_regions', 'other_regions', 'LIST', 'DEFAULT SUBPARTITION other_regions ', True),
 ('public.sales4', 3, 'public.sales4_1_prt_outlying_years_2_prt_bad_qtr_3_prt_usa', 'usa', 'LIST', "SUBPARTITION usa VALUES('usa')", False)]

%%sql
TRUNCATE demo.amzn_reviews_by_marketplace;
INSERT INTO demo.amzn_reviews_by_marketplace 
SELECT * FROM demo.amzn_reviews_1_1;

%%sql
TRUNCATE demo.amzn_reviews_partitioned;
INSERT INTO demo.amzn_reviews_partitioned 
SELECT * FROM demo.amzn_reviews_1_1;

%%sql
SELECT * FROM gp_distribution_policy;